<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
					    http://www.springframework.org/schema/beans/spring-beans.xsd
					    http://www.springframework.org/schema/context 
					    http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

	<!-- =======================Spring的IOC  xml与注解 整合开发==================== -->
	<!-- 属性注入使用注解方式，管理类的实例使用xml -->
	
	<!-- 在没有扫描的情况下 使用属性注入的注解 ：@Resource @Value @Qulifier-->
	<context:annotation-config/>
	
	<bean id="studentDao" class="demo3.StudentDaoImpl"></bean>

	<bean id="studentService" class="demo3.StudentServiceImpl"></bean>

</beans>